body {
    background: #2c2b44;

}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.grid-2-col-equal {
    grid-template-columns: 1fr 1fr;
}

.grid img {
    max-width: 100%;
    border-radius: 2mm;
    align-items: center;
}

header .button,
section,
footer {
    font-family: 'Noto Sans', sans-serif;
}

header {
    padding: 200px 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../images/hero-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

header .button {
    display: inline-block;
    margin-top: 25px;
    padding: 18px 25px;
    color: white;
    background: #545381;
    border-radius: 2mm;
    font-size: 14px;
    text-decoration: none;
}

header .button:hover {
    background: #2c2b44;
}

section {
    max-width: 100%;
    padding: 100px;
    background: #F8F8F8;
}

section p {
    color: black;
}

section h3 {
    opacity: 40%;
    text-transform: uppercase;
}

section.primary {
    gap: 25px;
}

section.primary .img-caption {
    margin: 0;
    font-size: 10px
}

section.secondary {
    padding: 85px 38px;
    background: white;
    background-image: url("/images/section-bg-image.jpg");
    background-position: right top;
    background-size: 30%;
    background-repeat: no-repeat;
}

section.secondary .grid-3-col-equal {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

section.secondary .card {
    margin-top: 30px;
    padding: 0 15px;
    background: #F8F8F8;
    border-radius: 2mm;
}

section.secondary .card-header {
    margin: 25px auto;
}

section.secondary .card-body h2 {
    font-size: 25px;
}

section.secondary .card-footer {
    display: block;
    margin: 20px auto 20px;
    padding: 20px 30px;
    background: #2c2b44;
    border-radius: 2mm;
}

section.secondary .card-footer a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

h1,
h2,
h3 {
    margin: 0;
    line-height: 1.5;
    font-family: 'Syne', sans-serif;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 18px;
    letter-spacing: 5px;
}

h4 {
    margin: 0;
}

p {
    font-size: 16px;
}

p,
footer {
    color: white;
    letter-spacing: 0.5px;
}

footer .grid {
    gap: 70px;
}

footer .grid-3-col-1fr-2fr-2fr {
    grid-template-columns: 1fr 2fr 2fr;
}

footer {
    padding: 60px 100px;
    background-image: linear-gradient(rgba(56, 48, 78, 0.9), rgba(56, 48, 78, 0.8)), url("../images/footer-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer h3 {
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 0;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style: none;
    font-size: 15px;
    line-height: 1.25;
}

footer ul li,
footer a {
    color: white;
    opacity: 0.7;
}

footer p {
    margin: 0;
    font-size: 11px;
}

footer a {
    line-height: 1.5;
}

.footer-about-website li {
    margin-bottom: 15px;
}

.text-center {
    text-align: center;
}

@media (max-width: 991px) {
    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 14px;
    }

    section.primary {
        padding: 20px 60px;
        text-align: center;
    }

    .grid img {
        max-width: 75%;
    }

    .grid-2-col-equal {
        grid-template-columns: 1fr;
    }

    footer {
        padding: 50px 100px;
        ;
    }

    .footer-about-website li {
        margin-bottom: 5px;
    }
}

@media (max-width:791px) {
    header {
        padding: 150px 30px;
    }

    footer {
        padding: 35px 60px;
    }

    .grid {
        gap: 25px;
    }

    .grid-3-col-1fr-2fr-2fr {
        grid-template-columns: 1fr;
    }
}

@media (max-width:516px) {
    header {
        padding: 100px 30px;
    }

    header .button {
        padding: 14px 22px;
        font-size: 13px;
    }

    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 13px;
    }

    section.primary {
        padding: 20px 35px;
    }

    section.primary h2 {
        font-size: 24px;
    }

    footer {
        padding: 25px 35px;
    }

    footer ul li {
        font-size: 13px;
    }

    footer h3 {
        margin: 0;
    }

    .grid {
        gap: 20px;
    }

    .grid img {
        max-width: 90%;
    }
}