body {
    background: #2c2b44;

}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

header .button,
section,
footer {
    font-family: 'Noto Sans', sans-serif;
}

header {
    padding: 200px 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../images/hero-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}

header .button {
    display: inline-block;
    margin-top: 25px;
    padding: 18px 25px;
    color: white;
    background: #545381;
    border-radius: 2mm;
    font-size: 14px;
    text-decoration: none;
}

header .button:hover {
    background: #2c2b44;
}

section {
    padding: 90px 100px;
    background: white;
    align-items: center;
}

section p {
    color: black;
}

section h3 {
    opacity: 40%;
    text-transform: uppercase;
}

h1,
h2,
h3 {
    margin: 0;
    line-height: 1.5;
    font-family: 'Syne', sans-serif;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 18px;
    letter-spacing: 5px;
}

p {
    font-size: 16px;
}

p,
footer {
    color: white;
    letter-spacing: 0.5px;
}

.grid {
    display: grid;
    gap: 50px;
}

.grid img {
    max-width: 100%;
    border-radius: 2mm;
}

.grid-2-col-1fr-1fr {
    grid-template-columns: 1fr 1fr;
}

.grid-3-col-1fr-2fr-2fr {
    grid-template-columns: 1fr 2fr 2fr;
}

footer {
    padding: 75px 100px;
    background-image: linear-gradient(rgba(56, 48, 78, 0.9), rgba(56, 48, 78, 0.8)), url("../images/footer-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer h3 {
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 0;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style: none;
    font-size: 15px;
    line-height: 1.25;
}

footer ul li,
footer a {
    color: white;
    opacity: 0.7;
}

footer a {
    line-height: 1.5;
}

footer p {
    margin: 0;
}

@media (max-width: 991px) {
    h1 {
        font-size: 42px;
    }

    h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 14px;
    }

    section {
        padding: 30px 60px;
        text-align: center;
    }

    .grid img {
        max-width: 75%;
    }

    .grid-2-col-1fr-1fr {
        grid-template-columns: 1fr;
    }

    footer {
        padding: 50px 100px;
        ;
    }
}

@media (max-width:791px) {
    header {
        padding: 150px 30px;
    }

    section {
        padding: 30px 75px;
    }

    footer {
        padding: 35px 60px;
    }

    .grid {
        gap: 25px;
    }

    .grid-3-col-1fr-2fr-2fr {
        grid-template-columns: 1fr;
    }
}

@media (max-width:516px) {
    header {
        padding: 100px 30px;
    }

    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 18px;
    }

    h3 {
        font-size: 13px;
    }

    section {
        padding: 20px 65px;
    }

    section h2 {
        font-size: 21px;
    }

    footer {
        font-size: 14px;
    }
}