body {
    background: #1b1b2a;

}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.grid-2-col-equal {
    grid-template-columns: 1fr 1fr;
}

.grid img {
    width: 100%;
    border-radius: 1.5mm;
}

header .button,
section,
footer {
    font-family: 'Noto Sans', sans-serif;
}

header,
header .button,
section.primary p,
section.secondary p {
    color: white;
}

section.primary,
section.secondary,
footer h3 {
    color: rgb(215, 209, 40);

}

header {
    padding: 200px 30px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url("../images/hero-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

header .button {
    display: inline-block;
    margin-top: 25px;
    padding: 18px 25px;
    background: #545381;
    border-radius: 2mm;
    font-size: 14px;
    text-decoration: none;
}

header .button:hover {
    background: #2c2b44;
}

section {
    max-width: 100%;
}

section p {
    color: black;
}

section h3 {
    opacity: 40%;
    text-transform: uppercase;
}

section.primary {
    padding: 100px;
    background: linear-gradient(rgba(44, 43, 50, 0.5), rgba(44, 43, 68, 0.4));
}

section.primary .grid-2-col-equal {
    gap: 25px;
}

section.primary .img-caption {
    margin: 0;
    font-size: 10px
}

section.secondary {
    padding: 70px 30px;
    background: linear-gradient(rgba(103, 102, 160, 0.2), rgba(103, 102, 160, 0.4));
}

section.secondary .secondary-title {
    margin-bottom: 30px;
}

section.secondary .grid-3-col-equal {
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

section.secondary .card {
    padding: 0 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), #54538181;
    border-radius: 2mm;
}

section.secondary .card-header {
    margin: 25px auto;
}

section.secondary .card-body h2 {
    font-size: 25px;
}

section.secondary .card-footer {
    margin: 20px auto;
    padding: 20px 30px;
    background: #2c2b44;
    border-radius: 2mm;
}

section.secondary .card-footer a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: 'Syne', sans-serif;
}

h1,
h2,
h3 {
    line-height: 1.5;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 34px;
}

h3 {
    font-size: 18px;
    letter-spacing: 5px;
}

h4 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

p.warning {
    font-size: 12px;
}

p,
footer {
    color: white;
    letter-spacing: 0.5px;
}

footer .grid {
    gap: 70px;
}

footer .grid-3-col-1fr-2fr-2fr {
    grid-template-columns: 1fr 2fr 2fr;
}

footer {
    padding: 60px 100px;
    background-image: linear-gradient(rgba(56, 48, 78, 0.9), rgba(56, 48, 78, 0.8)), url("../images/footer-image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

footer h3 {
    margin-bottom: 10px;
    font-size: 16px;
    letter-spacing: 0;
}

footer ul {
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style: none;
    font-size: 15px;
    line-height: 1.25;
}

footer ul li,
footer a {
    color: white;
    opacity: 0.7;
}

footer p {
    margin: 0;
    font-size: 11px;
}

footer a {
    line-height: 1.5;
}

.footer-about-website li {
    margin-bottom: 15px;
}

.text-center {
    text-align: center;
}

@media (max-width: 991px) {

    section.primary .grid-2-col-equal,
    section.secondary .grid-3-col-equal,
    footer .grid-3-col-1fr-2fr-2fr {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 14px;
    }

    p {
        font-size: 15px;
    }

    section.primary .section-img-primary {
        width: 60%;
    }

    section.primary,
    section.secondary {
        padding: 40px 80px;
        text-align: center;
    }

    section.primary .primary-title {
        margin: 15px auto;
    }

    section.secondary .secondary-title {
        margin-bottom: 30px;
    }

    section.secondary .grid-2-col-equal {
        gap: 5px;
    }

    section.secondary .card-header {
        margin: 15px auto;
    }

    section.secondary .card-footer {
        margin: 20px 130px;
    }

    footer {
        padding: 50px 60px;
    }

    footer ul li {
        font-size: 14px;
    }

    .footer-about-website li {
        margin-bottom: 5px;
    }
}

@media (max-width:791px) {

    section.secondary .grid-3-col-equal,
    footer .grid-3-col-1fr-2fr-2fr {
        gap: 25px;
    }

    p {
        font-size: 14px;
    }

    header {
        padding: 150px 30px;
    }

    section.primary {
        padding: 30px 50px;
    }

    section.primary .primary-title {
        margin: 10px;
    }

    section.primary .grid-2-col-equal {
        gap: 20px;
    }

    section.secondary {
        padding: 40px 50px;
    }

    section.secondary .secondary-title {
        margin-bottom: 25px;
    }

    section.secondary .card {
        padding: 15px 35px;
    }

    section.secondary .card-footer {
        margin: 20px 155px;
    }

    section.secondary .grid-2-col-equal {
        gap: 15px;
    }

    footer {
        padding: 35px 50px;
    }

    footer ul li {
        font-size: 14px;
    }
}

@media (max-width:516px) {

    section.secondary .grid-3-col-equal,
    footer .grid-3-col-1fr-2fr-2fr {
        gap: 15px;
    }

    header {
        padding: 100px 30px;
    }

    header .button {
        padding: 14px 22px;
        font-size: 13px;
    }

    h1 {
        font-size: 34px;
    }

    h2 {
        margin-bottom: 15px;
    }

    h3 {
        font-size: 13px;
    }

    section.primary {
        padding: 20px 35px;
    }

    section.primary .primary-title {
        margin: 10px;
    }

    section.primary h2 {
        font-size: 24px;
    }

    section.secondary .card {
        padding: 0;
    }

    section.secondary .card-header {
        margin-top: 0;
    }

    section.secondary .card-body {
        margin: 15px 35px;
    }

    section.secondary .card-footer {
        margin: 15px 155px;
    }

    section.secondary .grid-2-col-equal {
        gap: 5px;
    }

    footer {
        padding: 25px 35px;
    }

    footer ul li {
        font-size: 13px;
    }

    footer h3 {
        margin: 0;
    }
}